@import url('./assets/fonts/Roboto-Bold.ttf');
@import url('./assets/fonts/Roboto-Regular.ttf');

/**
- Mobile: 375px
- Desktop: 1440px
**/

:root {
    --Tomato: hsl(4, 100%, 67%);
    --Tomato-light: hsl(5, 92.31%, 94.9%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --paragraph-Size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: var(--CharcoalGrey);
    height: 100vh;
}

button {
    cursor: pointer;
}

section {
    background-color: var(--White);
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 20px 35px;
}

h1 {
    color: var(--DarkSlateGrey);
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 2px;
}

p.description {
    margin-top: 20px;
    color: var(--DarkSlateGrey);
}

ul {
    margin-top: 20px;
    list-style-type: none;
}


ul li {
    background-image: url('./assets/images/icon-list.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    padding-left: 40px;
    min-height: 25px;
    margin-top: 5px;
    line-height: 25px;
    color: var(--CharcoalGrey);
}

form {
    margin-top: 30px;
}

.label-message-container {
    display: flex;
    justify-content: space-between;
}

.label-message-container p {
    color: var(--Tomato);
    display: none;
}

label {
    display: block;
    color: var(--DarkSlateGrey);
    font-weight: 600;
}

input {
    margin-top: 5px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--Grey);
    outline: none;
    transition: border .3s ease-in-out;
}

input:focus {
    border-color: var(--DarkSlateGrey);
}

input::placeholder {
    font-size: var(--paragraph-Size);
}

input:invalid {
    background-color: var(--Tomato-light);
    border: 1px solid var(--Tomato);
}

form button {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    color: var(--White);
    background-color: var(--DarkSlateGrey);
    font-size: var(--paragraph-Size);
    font-weight: 600;
    outline: none;
    border: none;
}

form button:hover {
    background-color: var(--CharcoalGrey);
}

.attribution {
    background-color: var(--White);
    color: #000;

    & a {
        color: #000;
    }

    & a:hover {
        color: var(--Tomato);
    }
}


/**Message style**/

.succesMessage {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400px;
    border-radius: 25px;
    padding: 45px;
    background-color: var(--White);
    color: var(--DarkSlateGrey);
}

.succesMessage img {
    width: 50px;
}

.succesMessage h2 {
    margin-top: 20px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 800;
}

.succesMessage p {
    margin-top: 20px;
}

.succesMessage button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--White);
    background-color: var(--DarkSlateGrey);
    font-size: var(--paragraph-Size);
    font-weight: 600;
    outline: none;
    border: none;
}

.succesMessage button:hover {
    background-color: var(--CharcoalGrey);
}

/**Destok style**/
@media (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        border-radius: 30px;
        padding: 20px;
        width: 800px;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section>img {
        order: 2;
        content: url('./assets/images/illustration-sign-up-desktop.svg');
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .succesMessage {
        width: 450px;
        height: 450px;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        background-color: var(--CharcoalGrey);
        color: white;

        & a {
            color: white;
        }

        & a:hover {
            color: var(--Tomato);
        }
    }
}